* {
    margin: 0; 
    padding: 0;
}
 :root {
    font-family: "Alice", serif;
    
 }

 body {
    background-size: cover;
 }

 #page {
    box-sizing: border-box;
    width: 1120px;
    padding: 0px;
    margin: 88px 80px 138px 80px;
    
 }
 
 

 #Busan , #finalLine{
    border-bottom: 1px solid gray;
 } 

 #small_Description {
    font-size: 16px;
    font-weight: bold;
    color: #E1624F;
    line-height: 100%;
 }
 #description {
    font-size: 16px;
    font-weight: normal;
    color: #333333;
 }


 h1 {
    font-size: 36px;
    font-weight: bold;
}

 h2 {

    font-size: 32px;
    font-weight: bold;

}
 h3 {

    font-size: 28px;
    font-weight: bold;
}