* {
    margin: 0; 
    padding: 0;
}
 :root {
    font-family: "Alice", serif;
    
 }

 body {
    background-size: cover;
   
 }
 
 #page {
    box-sizing: border-box;
    width: 1120px;
    margin: 88px auto 138px auto;
    border-top: 1px solid gray;
 }
 
 #line-Top {
   border-top: 1px solid gray;
    width: 100%;
 }

 #line-bottom{   
   border-bottom: 1px solid gray;
    width: 100%;
    
 } 
 #small_Description-OL {
   margin-top: 64px;
   font-size: 16px;
    font-weight: bold;
    color: #E1624F;
    line-height: auto;
    letter-spacing: 16%;
 }


 #small_Description {
   margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #E1624F;
    line-height: auto;
    letter-spacing: 16%;
 }

 #description-three-topic {
   font-size: 16px;
   font-weight: normal;
   color: #333333;
   text-align: center;
   margin-bottom: 64px;

 }

 #imagem{
   margin-bottom: 20px;
 }

 #for-good {
   font-size: 16px;
   margin-top: 15px;
   margin-bottom: 48px;
 }
 #history-blue{
   margin-left: 10px;
   font-size: 16px;
   color: #0c51a7;
   line-height: 150%;
   
 }

 #description {
    font-size: 16px;
    font-weight: normal;
    color: #333333;
    text-align: left;
 }
 #subtitle {
   text-align: center;
   margin: 12px auto 32px auto;
   font-style: italic;
   font-size: 14px;
   color: #666;
 }

 li  {
   font-size: 35px;
 }
 

 ul {
   list-style: none;
  
 }

 #for-good li::before {
   content: "•";
   color: black;
   display: inline-block;
   margin-left: 5px ;
   margin-right: 5px;
 }

 h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

 h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 70px;
}
 h3 {

    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px ;
}

#violet{
   font-size: 16px;
   color: #591b98;
   line-height: 150%;
}
#red {
   font-size: 16px;
   color: #E5245E;
   line-height: 150%;
}

#orange {
   font-size: 16px;
   color: #E95E10;
   line-height: 150%;
}

#description-final-spacing {
   font-size: 16px;
   font-weight: normal;
   color: #333333;
   text-align: center;
   margin-top: 40px;
}

footer {
   color: #343635;
   text-align: center;
   padding-bottom: 48px;
   font-size: 16px;
}